* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.header__image {
  width: 100%; }

.header__menu--color {
  color: black; }

.header__menu--color1 {
  color: #1078AD; }

.header__menu--color2 {
  color: #1078AD; }

.header__logo {
  display: flex;
  float: left;
  margin-top: -6.5%; }

.header__menu {
  display: flex;
  float: right;
  align-items: center;
  margin-top: -4%; }

.header__menu a {
  margin-right: 3em;
  font-weight: 700;
  font-size: 1.7em;
  text-decoration: none; }

.advice {
  background: #F4CF1B;
  margin-top: -0.2%;
  font-size: 1.6rem;
  font-family: cairo;
  width: 100%; }

.advice__title {
  color: black;
  padding-top: 20px;
  text-align: center; }

.advice__para {
  text-align: center;
  color: #1078AD; }

a:-webkit-any-link {
  cursor: unset;
  text-decoration: none; }

.corona {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.corona__image {
  text-align: center;
  width: 50%; }

.corona__text {
  text-align: center;
  width: 50%; }
