.info{
  

    background-color: $colorstarttest;
    padding-bottom: 50px;
padding-top: 20px;
    margin-bottom: 20px;





    &__title{
     padding-top: 20px;
     text-align: center;
     font-weight: 700;
     font-size: 24px;
     color: $color1;
 }
 
 &__link{
     margin-left: auto;
     margin-right: auto;
     background-image: url(/Design/Assets/png/btn-bg.png);
     margin-top: 20px;
    padding: 2px 2px;
     text-decoration: none;
     color: $colorstarttest;
     text-align: center;
     font-weight: 800;
     width: 424px;
 }
 &__link:hover{
     color: $color-secondary;
 }

 &__para{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: #1A519E;
}

 
}
