$color1: #1078ad;
$color2: #c7c7c7;
$btn_color: #1078ad;
$color-primary: #1078ad;
$color-secondary: #f4cf1b;
$colorstarttest: #96c5dc;
$whiteblue-color:#D0E5F0;
$button-color:#cfe4ef;
$grey-color:#e9ecef;
$border-color:rgb(190, 190, 190);
$myFont: 'Cairo', sans-serif;
$orange-col:#F4CF1B;
$grey-color: #7F7F7F;
$green-color:#369D53;





$primary-color: #000000;
$second-color: #1078AD;
$blue-color:#1A519E;
$background-color:#96C5DC;
$text-color: rgb(255, 255, 255);
$orange-color:#F4CF1B;
$grey-color: #7F7F7F;
$green-color:#369D53;
$whiteblue-color:#D0E5F0;
$button-color:#cfe4ef;
$whitegrey-color:#e9ecef;
$border-color:rgb(190, 190, 190);
$myFont: 'Cairo', sans-serif;